.space{
    margin: 3px;
}

.my-border{
    background-color: #ff69f0;
    background: linear-gradient(#8949c7, #f9729a);
}


html, body {
    height: 100%;
}
/*.container-fluid {*/
    /*margin: 0 auto;*/
    /*height: 100%;*/
    /*padding: 20px 0;*/

    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
/*}*/

.grid-images-section{
    height: 500px;
}

.section1-bg {
    padding-top:70px;padding-bottom:70px;
    background-image:url('../pandarian.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.section2-bg {
    padding-top:70px;padding-bottom:70px;
    background-image:url('../wall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.section3-bg {
    padding-top:70px;padding-bottom:70px;
    /*background-image:url('../wall.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/

    background: linear-gradient(0deg, #2d3237, #7d4913);

}

.credential{
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    opacity: 0.8;
}

.grid-images-images{
    width:100%;
    height: 70%;
}

.columns {
    background-color: #C9E6FF;
    height: 100%;
}

.content-area, .article-tree{
    background: #bada55;
    overflow:auto;
    height: 100%;
}

.footer {
    background: red;
    height: 20px;
}



.pandarian-text {
    position: relative;
}

.pandarian-text::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, orange, yellow, green, blue, purple);
    mix-blend-mode: screen;
    background-size: 0 0;

}

.dialogue{
    background-image: -webkit-gradient(linear, left top, 45deg, color-stop(0%, #E605C1), color-stop(99%, #3B113B));
    background-image: -moz-linear-gradient(45deg,#E605C1 0%,#3B113B 99%);
    background-image: -webkit-linear-gradient(45deg,#E605C1 0%,#3B113B 99%);
    background-image: -o-linear-gradient(45deg,#E605C1 0%,#3B113B 99%);
    background-image: -ms-linear-gradient(45deg,#E605C1 0%,#3B113B 99%);
    background-image: linear-gradient(45deg,#E605C1 0%,#3B113B 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position:relative;
    display:inline-block; /*required*/

    /*
    online text gradient maker :
    http://www.textgradient.com
    */
}

.tst{

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.my-card{
    border-color:#fffd02;
    height: 100%;
}

div> .my-card {
    color: #fffd02;
}

.my-card:hover{
    border-color:#a500a1;
    color: #a500a1;
}